<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Access Log Appender Configuration -->
    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/access_log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 250MB, keep 7 days worth of history, but at most 10GB -->
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Application Log Appender Configuration -->
    <appender name="applogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss"} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 250MB, keep 7 days worth of history, but at most 10GB -->
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Application Json Log Appender Configuration -->
    <appender name="appjsonfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            </jsonGeneratorDecorator>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <!-- each file should be at most 250MB, keep 7 days worth of history, but at most 10GB -->
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss"} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Logger for Access Logs -->
    <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG"/>
    </logger>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="applogfile"/>
        <appender-ref ref="appjsonfile"/>
    </root>

</configuration>